header{
    background-color: rgb(255, 255, 190);
    display: inline-block;
    width:100%;
    text-align: center;
}

header img{
    margin-top: 25px;
}

header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
    font-style: italic;
}

header h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin-top: 15px;
    font-weight: bold;
    
}

.espaco{
    padding:10px;
}



main h1{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.lista-turmas {
	width: 940px;
	margin: 0 auto;
	padding: 30px 0;
}
.turma {
    display: inline-block;
    text-align: center;
    width: 45%;
    vertical-align: top;
    margin: 1.5% 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}
.turma:hover{
    border-color: rgb(0, 4, 255);
}

.turma:hover h1{
    font-size: 34px;
}
.turma h1{
    font-size:30px;
    font-weight: bold;
}

.turma h2{
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.lista-sites li{
    margin: 10px auto;
}

.lista-sites li a{
    font-size: 20px;
}
.produto-descricao{
    font-size: 18px;
}
.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}


footer{
    background-color: rgb(0, 4, 255);
    text-align:center;
   
}
footer h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:rgb(255, 255, 255);
    padding-top: 20px;
    font-weight: bold;
    font-style:italic;
}

footer h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 15px;
}

footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:rgb(255, 255, 255);
    padding-bottom: 2px;
}

footer a{
    color:white;
}

