header{
    background-color: rgb(186, 186, 186);
    display: table;
    width: 100%;
}

.logo-site{
    float:left;
    margin: 0 0 0 200px;
}

.logo-site img{
    float:left;
    max-width: 200px;
}

.logo-site h1{
    display: inline-block;
    margin: 50px 0 0 20px;
}

.logo-site h1 a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
	font-size: 40px;
}

nav{
    float: right;
    margin: 0 200px 0 150px;
}

nav li{
    display: inline-block;
    margin: 60px 0 0 20px;
}

nav a {
	text-transform: uppercase;
    font-family: Helvetica;
	color: #000000;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #ff0000;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 15px;
	margin: 20px 0 0;
}